
body{
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: url(../gambar/bunga.jpg) no-repeat;
    background-size: cover;
  }
  .login-box{
    width: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
  }
  .login-box h1{
    float: left;
    font-size: 40px;
    border-bottom: 6px solid #3858EF;
    margin-bottom: 50px;
    padding: 13px 0;
  }
  .textbox{
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid #3858EF;
  }
  .textbox i{
    width: 26px;
    float: left;
    text-align: center;
  }
  .textbox input{
    border: none;
    outline: none;
    background: none;
    color: white;
    font-size: 18px;
    width: 80%;
    float: left;
    margin: 0 10px;
  }
  .btn{
    float: right;
    width: 100%;
    background: none;
    border: 2px solid  #4caf50;
    color: white;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    margin: 12px 0;
    text-align: center;
    text-decoration: none;
  }
 .psw{
   padding-left: 80px;
   float: center;
   padding-top: -80px;
   font-size: 12px
  }
 .cancel{
    color: white;
    padding: 6px;
    font-size: 18px;
    cursor: pointer;
    margin: 12x 0;
  }
  .button3 {
      background-color: #f44336;
    width: 50px;
    }

 .psw{
     float: right;
     padding-top: -50px;
 }
.sign-box{
    width: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
  }
  .cancel a{
    color: lightblue;
}
  .sign-box h1{
        float: left;
        font-size: 40px;
        border-bottom: 6px solid #4caf50;
        margin-bottom: 50px;
        padding: 13px 0;
  }