    body {
        color: #666666;
        background-color: whitesmoke;
        margin: 0;
    }
    
    header {
        /* background-image: url(buku.jpg); */
        /* background-image: url(gunung.jpeg); */
        background-size: 100%;
        background-position: center;
        width: 100%;
        background-attachment: fixed;
        /* background-position-y: -300px; */
        height: 500px;
        overflow: hidden;
    }
    
    nav {
        background-color: black;
        opacity: 75%;
        height: 50px;
        overflow: hidden;
    }
    
    nav li {
        float: left;
        list-style-type: none;
    }
    
    nav a {
        text-align: center;
        color: whitesmoke;
        font-family: 'Times New Roman', Times, serif;
        font-size: 15pt;
        text-decoration: none;
        padding: 20px;
    }
    
    nav input {
        float: right;
        border: 2px;
        border-radius: 5px;
        padding: 5px;
    }
    
    nav a:hover {
        background-color: grey;
    }
    
    article {
        padding: 20px;
        background-color: lightgray;
    }
    
    article>h1,
    hgroup {
        margin: 10px;
        padding: 10px;
    }
    
    hgroup {
        background-color: whitesmoke;
        height: 225px;
        border-radius: 5px;
        width: 75%;
    }
    
    hgroup>h2,
    p {
        padding: 5px;
        font-size: 12pt;
    }
    
    hgroup>img {
        float: right;
        padding: 5px;
        background-color: lightgray;
    }
    
    aside {
        width: 20%;
        height: 760px;
        /* padding-left: 15px;
        margin-left: 15px; */
        margin-right: 5px;
        background-color: lightgray;
        float: right;
    }
    
    .aside {
        padding: 5px;
        padding-left: 10px;
        margin: 0;
        height: 98%;
        background-color: whitesmoke;
        border-radius: 5px;
    }
    
    .unduh {
        padding: 20px;
        width: 100px;
    }
    /* .tahun {
        background-color: lightgrey;
        border-radius: 10px;
        padding-bottom: 10px;
    }
    
    .tahun>h2 {
        padding: 10px;
    }
     */
    
    .footer {
        height: 200px;
        background-color: black;
        opacity: 50%;
        text-align: center;
    }