body {
    color: #666666;
    background-color: whitesmoke;
    margin: 0;
}

header {
    /* background-image: url(buku.jpg); */
    /* background-image: url(gunung.jpeg); */
    background-size: 100%;
    background-position: center;
    width: 100%;
    /* background-position-y: -300px; */
    height: 500px;
    overflow: hidden;
}

nav {
    background-color: black;
    opacity: 75%;
    height: 50px;
    overflow: hidden;
}

nav li {
    float: left;
    list-style-type: none;
}

nav a {
    text-align: center;
    color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15pt;
    text-decoration: none;
    padding: 20px;
}

nav input {
    float: right;
    border: 2px;
    border-radius: 5px;
    padding: 5px;
}

nav a:hover {
    background-color: grey;
}

footer {
    height: 200px;
    background-color: black;
    opacity: 75%;
    text-align: center;
}